<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310126194761-jbjdclpr0too5ia9ohvh5mq5h7bi4r3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310126194761-jbjdclpr0too5ia9ohvh5mq5h7bi4r3e</string>
	<key>API_KEY</key>
	<string>AIzaSyBAZtLNbo8HgwkzEapMbkfxOovPunmlU0E</string>
	<key>GCM_SENDER_ID</key>
	<string>310126194761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sechula.reliefy</string>
	<key>PROJECT_ID</key>
	<string>reliefy-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>reliefy-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310126194761:ios:73e3035a6f4e2fced60f98</string>
</dict>
</plist>